html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    margin: 7%;
    font-family: Georgia;
    background-color: #DFDCE3;
  }
  
  div.container {
    width: 100%;
    display: flex;
    flex-direction: row;
  } 

.rounded-lg {
    border-radius: 9rem !important;
  }


#content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 7%;
    margin-right: 3%;
    margin-top: 20%;
    }

#content .bio {
    line-height: 120%;
    font-size: medium;
    text-align: left;
    vertical-align: middle;
}

#name {
    margin-left: 15%;
}

#navbar .current {
    background-color: crimson;
}

#navbar ul {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    top: 5%;
    right: 0;
    left: 10%;
    margin-top: 0px;
    padding: 10px;
  }
    
#navbar ul li {  
    display: block;
    border: 0;
    background: transparent;
    position: relative;
    border-radius: 0;
    padding: 0.6rem 1rem;
    color: #7b8a96;
	} 
 
#navbar ul li a { 
    display: block;
	text-decoration: none; 
	padding: .3em 1em; 
	color: #fff; 
    background-color: rebeccapurple; 
    width: 50px;
	} 
 
#navbar ul li a:hover { 
	color: #000; 
	background-color: #fff; 
    }
